* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  min-height: 100%;
  margin: 0;
  font-family: "Outfit", "Young Serif", sans-serif;
  font-size: var(--inter-font-size-medium);
  background-color: var(--stone-100);
  line-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--white);
  height: 100%;
  width: 100%;
}

/* STYLE GUIDE */
:root {
  /* Main Colors */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;

  /* Typography */

  /* Preset 1 - 40px */
  --young-serif-line-height: 100%;
  --young-serif-font-size-large: 2.5rem;

  /* Preset 2 - 28px */
  --young-serif-line-height: 100%;
  --young-serif-font-size-medium: 1.75rem;

  /* Preset 3 - 20px Semibold*/
  --outfit-semibold-font-weight: 600;
  --outfit-semibold-line-height: 100%;
  --outfit-semibold-font-size: 1.25rem;

  /* Preset 4 - 16px */
  --outfit-regular-line-height: 150%;
  --outfit-regular-font-size: 1rem;

  /* Preset 4 - 16px Bold*/
  --outfit-bold-font-weight: 700;
  --outfit-bold-line-height: 150%;
  --outfit-bold-font-size: 1rem;
}

/* Main Styling */

h1 {
  font-size: 2.25rem;
  line-height: var(--young-serif-line-height);
}

section.description-container > p {
  line-height: var(--outfit-regular-line-height);
  margin-bottom: 2rem;
}

section.prep-time-container > h2 {
  font-family: "Outfit", sans-serif;
  color: var(--rose-800);
  font-weight: var(--outfit-semibold-font-weight);
  line-height: var(--outfit-semibold-line-height);
  font-size: var(--outfit-semibold-font-size);
  margin-top: 0;
}

h2 {
  font-family: "Young Serif", sans-serif;
  color: var(--brown-800);
  line-height: var(--young-serif-line-height);
  font-size: var(--young-serif-font-size-medium);
  font-weight: 500;
  margin-top: 2rem;
}

p {
  color: var(--stone-600);
  font-size: 1rem;
  line-height: var(--outfit-regular-line-height);
}

.prep-time-container {
  background-color: var(--rose-50);
  padding: 1.5rem;
  border-radius: 12px;
}

ol,
ul {
  color: var(--rose-800);
  padding-left: 0;
  list-style-position: inside;
  line-height: var(--outfit-regular-line-height);
  font-size: var(--outfit-regular-font-size);
}

.prep-time-container > ul > li {
  margin-left: 0.5rem;
}

li span {
  color: var(--stone-600);
  line-height: var(--outfit-regular-line-height);
  margin-bottom: 0.5rem;
}

.instructions-container > ol > li {
  margin-bottom: 0.5rem;
}

.prep-time-container > ul,
li:nth-child(3) {
  margin-bottom: 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--stone-150);
}

header > img {
  width: 100%;
}

.content-container {
  padding: 2.5rem 2rem;
}

.description-container > h1 {
  margin-top: 0;
  color: var(--stone-900);
  font-family: "Young Serif";
  --young-serif-line-height: 100%;
  --young-serif-font-size-large: 2.25rem;
}

.ingredients-container > ul > li > span {
  display: inline-flex;
  width: 90%;
}

.instructions-container > ol {
  list-style-position: outside;
  padding-left: 1.5rem;
  text-wrap: pretty;
}

.instructions-container > ol > li {
  padding-left: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table > tbody > tr > td {
  width: 50%;
  color: var(--stone-600);
  line-height: var(--outfit-regular-line-height);
  padding: 0.75rem 0 0.75rem 2rem;
}

table > tbody > tr > td.measurement {
  padding-left: 0.5rem;
  width: 50%;
  color: var(--brown-800);
  font-weight: var(--outfit-bold-font-weight);
  font-size: var(--outfit-bold-font-size);
  line-height: var(--outfit-bold-line-height);
}

table > tbody > tr {
  border-bottom: 1px solid var(--stone-150);
}

table > tbody > tr:nth-child(4) {
  border-bottom: 0;
}

/* ============
      Media Queries
      =========== */

@media (min-width: 376px) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 38.5rem;
    border-radius: 24px;
  }

  header {
    max-width: 34.5rem;    
    margin: 2rem 2rem 0 2rem;
  }

  header > img {
    border-radius: 12px;
  }

}

@media (min-width: 769px) {
  main, 
  header {
    min-width: auto;
    max-width: 46rem;
  }
}
